@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:wght@500&display=swap');

:root {
    --theme-color: #3cb371;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    margin: 10px;
    
    
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='218' height='218' viewBox='0 0 100 100'%3E%3Cg stroke='%23CCC' stroke-width='0' %3E%3Crect fill='%23F5F5F5' x='-60' y='-60' width='112' height='240'/%3E%3C/g%3E%3C/svg%3E");
}

h2{
    color: var(--theme-color);
    font-family: 'Fredoka One', sans-serif;
    font-size: 2em;
    letter-spacing: 2px;
}

.container{
    max-width: 700px;
    margin: 30px auto;
    border: 1px solid #ddd;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.05);
    border-radius: 2px;
    padding: 20px;
    background-color: white;
}

h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
    color: gray;
}


#people{
    height: 100px;
    overflow: auto;
    background: #f9f9f9;
    box-shadow: inset 0 0 5px lightgray;
    transition: height 0.8s ease;
}
#people h3 {
    color: lightgray;
    font-weight: 400;
}

#instructions {
    text-align: center;
    color: var(--theme-color);
    width: 100%;
    display: block;
    margin-top: 30px;
}

#output p{
    padding: 14px 0px;
    margin: 0 20px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
    font-size: 20px;
}

label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border: 5px solid #f9f9f9;
    border-radius: 0 0 10px 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    
    box-shadow: inset 0 0 5px lightgray;
}

table {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
td, th {
    padding: 20px 5px;
    text-align: center;
    font-size: 20px;
}
th {
    color: var(--theme-color);
}
td {
    border: 2px solid var(--theme-color);
}
tr:nth-child(even) td:nth-child(odd), 
tr:nth-child(odd) td:nth-child(even)
{  
    background-color: var(--theme-color);
    color: white;
}

@media only screen and (max-width: 500px) {
    td,th{
        font-size: 15px;
        padding: 20px 2px;
    }
  }

button{
    background: var(--theme-color);
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    font-family: 'Fredoka One', sans-serif;
    border: 0;
    padding: 12px 0;
    width: 100%;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    box-shadow: 1px 3px 10px rgba(0,0,0,0.05);
    transition: box-shadow 0.5s ease;
}
button:hover {
    box-shadow: 1px 3px 10px var(--theme-color);
}
button:active {
    transform: scale(0.98);
}
button.emphasize {
    border: 3px solid white;
    box-shadow: 0 0 10px var(--theme-color);
}

ul {
    font-size: 16px; 
    text-align: left; 
}
ul li {
    margin-top: 15px;
}

/* Modal */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000067;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    font-size: 20px;
}
.modal-content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}
.close-button {
    width: 200px;
    margin: 10px 20px;
    display:inline-block;
    padding: 0.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    color: white;
    font-weight: 700;
    background-color: var(--theme-color);
}
.modal-content h3 {
    margin: 10px;
}
.close-button:hover {
    background-color: var(--theme-color);
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}